.blogsDiv{
    padding:20px;
    font-size: 10px;
    background-image: url('../../Images/bannerBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
}

.blogTitle{
    text-align: center;
    margin-bottom: 40px;
    padding:20px;
    font-family: cursive;

}
.blogTitle h2{
    color:white;
    font-size: 60px;
}
.blogTitle h6{
    color:orange;
    opacity: .7;
}
.context{
    font-size: 14px;
}

.cardTitle {
    font-family: cursive;
    color:orange;
    font-weight: 700;

}