.aboutDiv{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-image: url('../../Images/bannerBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lobster', cursive;
    border-top: 40px solid #0d0f44;

    
}
.aboutDiv p{
    font-size: 18px;
    color:white;
    font-family: 'Lobster Two', cursive;
}
.aboutDiv h3{
    color:white;
    font-family: 'Lobster', cursive;
}
.aboutDiv h5{
    color:rgb(177, 118, 9);
    font-family: 'Lobster', cursive;
}
.aboutDiv img{
    width: 100%;
    height:50% ;
   
   
}

.about{
    border-right: 1px solid rgb(177, 118, 9);
    padding:20px;
    border-radius: 44px;
}

/* ---------------------------------Responsive Part --------------------------------*/
@media only screen and (max-width:850px) {
    .aboutDiv{
       
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 20px;
        padding:40px;
    }
}